<div class="header-gallery">
  {{#get "posts" filter="tags:news"}}
      {{#foreach posts limit="3"}}
          <header class="blog-header" style="background-image: url({{image}});">
              <div class="vertical"><a href="{{url}}"><h1>{{title}}</h1></a></div>
          </header>
      {{/foreach}}
  {{/get}}
</div>