<section class="post-meta">
    <span class="author-name">by <strong>{{author}}</strong></span>
    &nbsp&nbsp&nbsp
    <time datetime="{{date format='YYYY-MM-DD'}}">{{date published_at timeago='true'}}</time>
    &nbsp&nbsp&nbsp under
    <span><strong>{{tags separator=", "}}</strong></span>
</section>