<section class="read-next" style="border-radius:0;">
	<a href="https://m.do.co/c/f348fa97dac5" style="width:100%;">
		<img src="{{asset "images/do-banner.jpg"}}" style="width:100%;">
	</a>
</section>
