<section class="namecheap-box widget">
  <a class='link-wrapper' href="https://www.namecheap.com/?aff=102081">
  <img class="namecheap-box-coverpic" src="{{asset "images/namecheap-logo.jpg"}}" alt="Namecheap" nopin="nopin"/>
  <div class="namecheap-box-content">
    <p style="padding-top:0;margin:1rem 0;">Year of Linux proudly uses and recommends Namecheap.com. Visit them today for great deals on domains and hosting.</p>
    <a class="button-add large wide" target="blank" href="https://www.namecheap.com/?aff=102081">Go to Namecheap Now</a>
  </div>
  </a>
</section>
